<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Workbox Plus Module Settings-->
    <WorkboxPlusV2>
      <configuration type="BlackTambourine.Sitecore8.WorkboxPlus.V2.WorkboxPlus.WorkboxPlusV2Config, BlackTambourine.Sitecore8.WorkboxPlus.V2">

        <!--Workflow to apply to; currently only supports one-->
        <param name="WorkFlowGuid">{DF32D069-2367-4D9A-B761-BD0815B17B88}</param>

        <!--Workflow States that can be filtered by the User-->
        <!--Note, only two workflow states can be filted on, it is recommended that these be the Draft and Rejected states that Content Editors can view-->
        <param name="DraftGuid">{10FC5717-8F01-449B-A0CF-5E1377CE100F}</param>
        <param name="RejectedGuid">{AA052F17-EA2D-4CD0-9C6B-AE23233FBE1A}</param>

      </configuration>
    </WorkboxPlusV2>
  </sitecore>
</configuration>