<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Workbox Plus Module Settings-->
    <WorkboxPlus>
      <configuration type="BlackTambourine.Sitecore8.WorkboxPlus.Config.WorkboxPlusConfig, BlackTambourine.Sitecore8.WorkboxPlus">

        <!--Enable Page Level Approval - i.e. group children of Pages / Item together in the Workbox-->
        <param name="EnablePageLevelApproval">true</param>

        <!-- Item Templates to Group under their Parent / Page in the Workbox-->
        <Include hint="raw:AddWorkboxPlusItemTemplateName">
          <template name="accordionContent" patch:after="*[last()]">{221C6455-4715-4283-B82C-477CEA3ACE98}</template>
          <template name="documentlist" patch:after="*[last()]">{C5BF5431-61D3-4F9D-B8F0-9112760556FA}</template>
          <template name="hyperlink" patch:after="*[last()]">{00D88070-8906-4D94-814B-34C06C44D62A}</template>
          <template name="imagecarousel" patch:after="*[last()]">{8DB21D3B-E301-4000-91E3-E90E02413E9C}</template>
          <template name="links" patch:after="*[last()]">{F4707EC5-13F1-436E-B14B-B15F96F0528C}</template>
          <template name="generalmaplocations" patch:after="*[last()]">{71EF6F37-0868-4A22-8E4E-0F1E94AEE803}</template>
          <template name="monthlyrecurrence" patch:after="*[last()]">{781EF41B-72B5-4B41-8047-288A1873BCC3}</template>
          <template name="eventcost" patch:after="*[last()]">{5A874D07-A8A6-4E93-B1C1-4C760347A90C}</template>
          <template name="additionaleventday" patch:after="*[last()]">{675903ED-D589-4897-806D-E15D75DAA8AD}</template>
        </Include>

        <!--Workflow States that can be filtered by the User-->
        <WorkflowStates hint="raw:AddWorkboxPlusFilterableState">
          <WorkflowState name="Draft" patch:after="*[last()]">{734B5E23-99FF-4BC6-B2E0-B46D15317A59}</WorkflowState>
          <WorkflowState name="Rejected" patch:after="*[last()]">{5C61CE3D-702E-40C0-ADF4-560E0A43835E}</WorkflowState>
        </WorkflowStates>

      </configuration>
    </WorkboxPlus>
  </sitecore>
</configuration>